{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Lista de pacientes {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0">Lista de pacientes</h4>
                        <p class="card-category">Orden por última actualización</p>
                    </div>
                    <div class="card-body patient-list-container">
                        <div class="table-responsive">

                            <div class="tab-content" id="pills-tabContent">
                                {% if object_list %}
                                <table class="table table-hover mb-0">
                                    
                                    <template id="head-template">
                                        <thead class="text-primary">
                                            <th>
                                                Cédula
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Apellidos
                                            </th>
                                            <th>
                                                Teléfono
                                            </th>
                                            <th>
                                                Última actualización
                                            </th>
                                                Link
                                            </th>
                                        {% comment %} <thead> {% endcomment %}
                                        </thead>
                                    </template>
                                    
                                </table>
                                {% else %}
                                <div class="d-flex justify-content-center">
                                    <h4>No hay pacientes registrados</h4>
                                </div>
                                {% endif %}
                    
                            
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <nav id="paginate-navbar" class="" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

            
                </ul>
            </ul>
        </nav>



        <div class="components d-none">

            <li class="page-item arrow-paginator previous">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li class="page-item arrow-paginator next">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>

        </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<!-- Page specific JavaScript -->
<script type="text/javascript" src={% static 'assets/js/patientList.js' %}></script>
{% endblock javascripts %}
