<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pdf.css">
    <title>Document</title>
    {% comment %} <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        .w-50 {
            width: 50%;
        }
        
        body {
            padding: 40px;
            background-color: aliceblue;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 200;
            font-style: normal;
        }
        
        header {
            display: flex;
            justify-content: space-between;
            background-color: rgb(255, 255, 255);
            margin-bottom: 50px;
        }
        
        .header-logo {
            height: 40px;
        }
        
        .row {
            display: block;
            width: 100%;
        }
        
        .section-header {
            width: 100%;
            height: 26px;
            background-color: rgba(107, 100, 151, .6);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 6px;
            color: white;
            font-size: 16px;
        }
        
        .section-body {
            display: flex;
            flex-wrap: nowrap;
            background-color: azure;
            width: 100%;
        }
        
        .field {
            display: inline-block;
            background-color: rgb(204, 231, 231);
            margin-right: 50px;
        }
        
        .label {
            font-size: 12px;
            margin-bottom: 3px;
        }
        
        .value {
            margin-bottom: 3px;
            font-style: italic;
            font-weight: 500;
        }
    </style> {% endcomment %}
    <link rel="stylesheet" href="http://127.0.0.1:8000/media/pdf/pdf.css">
</head>
<body>
    <header>
        <div>
            <img class="header-logo" src="img/PneumaLogo-3.png" alt="">
        </div>
        <div>
            <h1>Historia Clínica</h1>
        </div>
    </header>
    <main>
        <div class="row">
            <section class="w-50">
                <div class="section-header">
                    Datos demográficos
                </div>
                <div class="section-body">
                    <div class="field">
                        <div class="label">
                            Cédula:
                        </div>
                        <div class="value">
                            {{ patient.cedula }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Nombre:
                        </div>
                        <div class="value">
                            {{ patient.nombre }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Apellidos:
                        </div>
                        <div class="value">
                            {{ patient.apellidos }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Fecha de nacimiento:
                        </div>
                        <div class="value">
                            {{ patient.fecha_nacimiento }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Teléfono:
                        </div>
                        <div class="value">
                            {{ patient.telefono }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Email:
                        </div>
                        <div class="value">
                            {{ patient.email }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Ocupación:
                        </div>
                        <div class="value">
                            {{ patient.ocupacion }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Profesión:
                        </div>
                        <div class="value">
                            {{ patient.profesion }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Seguridad social:
                        </div>
                        <div class="value">
                            {{ patient.seguridad_social }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="w-50">
                <div class="section-header">
                    Datos del acompañante
                </div>
                <div class="section-body">
                    <div class="field">
                        <div class="label">
                            Nombre
                        </div>
                        <div class="value">
                            {{ patient.acompanante }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Parentesco
                        </div>
                        <div class="value">
                            {{ patient.parentesco }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Teléfono
                        </div>
                        <div class="value">
                            {{ patient.telefono_acompanante }}
                        </div>
                    </div>
                </div>
            </section>
            <section class="w-50">
                <div class="section-header">
                    Hábitos del paciente
                </div>
                <div class="section-body">
                    <div class="field">
                        <div class="label">
                            Actividad física
                        </div>
                        <div class="value">
                            {{ patient.actividad_fisica }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Tipo de actividad física
                        </div>
                        <div class="value">
                            {{ patient.tipo_actividad_fisica }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Frecuencia de la actividad física
                        </div>
                        <div class="value">
                            {{ patient.frecuencia_actividad_fisica }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="w-100">
                <div class="section-header">
                    Historia clínica
                </div>
                <div class="section-body">
                    <div class="field">
                        <div class="label">
                            Motivo de consulta
                        </div>
                        <div class="value">
                            {{ patient.motivo_consulta }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Cronología de la patología
                        </div>
                        <div class="value">
                            {{ patient.cronologia_de_patologia }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">
                            Conclusión
                        </div>
                        <div class="value">
                            {{ patient.conslusion }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="w-100">
                <div class="section-header">
                    Diagnósticos
                </div>
                <div class="section-body">
                    <div class="field">
                        <div class="label">
                            {{ patient.patientdiagnosis_set.first.created_at }}
                        </div>
                        <div class="value">
                            {{ patient.patientdiagnosis_set.first.diagnosis }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="w-100">
                <div class="section-header">
                    Evolución
                </div>
                <div class="section-body">
                    <div class="field">
                        <div class="label">
                            {{ patient.evolution_set.first.created_at }}
                        </div>
                        <div class="value">
                            {{ patient.evolution_set.first.evolution_record }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="w-100">
                <div class="section-header">
                    Tests
                </div>
                <div class="section-body">
                    <div class="field">
                        <div class="label">
                            {{ patient.patienttest_set.first.created_at }}
                        </div>
                        <div class="value">
                            {{ patient.patienttest_set.first.test }}
                        </div>
                        <div class="value">
                            {{ patient.patienttest_set.first.result }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>